/*UNIVERSAL SECTION*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
    font-family: 'Indie Flower', cursive;
}
.text-center {
    text-align: center;
}

body {
    box-sizing: border-box;
    background-color: #efccff;
}
/* Header section begins here */
header {
    background-color: #df99ff;
    position:relative;
    border: 5px solid #df99ff;
    border-radius: 5px 5px 0px 0px;
}

header h1 {
    float: left;
    margin: 0px;
}

header img {
    height: 50px;
    float:left;
}

header div {
    height: 60px;
    margin-left: 5px;
}

nav {
    float: right;
    position: relative;
    top: 0px;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    display: inline;
    border: 2px solid #000;
    margin:0px 10px;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
}
nav>ul>li>a {
    color:#000;
    text-decoration: none;
}

nav>ul>li:hover {
    cursor: pointer;
}

nav>ul>li>a:hover {
    color:#000;
}

/* HERO SECTION BEGINS HERE */

.hero {
    background-image: url("../hero.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top:175px;
    margin-top:50px;
}
     
/* SIDEBAR SECTION*/

aside {
    background-color:#ffff99;
    border:2px solid #fff;
    width:25%;
    height:400px;
    float: left;
    box-sizing: border-box;
}

aside ul {
    list-style-type:none;
    padding-left: 0px;
    margin: 0px;
}


aside ul li {
    text-align: center;
    padding: 30px 0px;
}

aside ul li:hover {
    background-color:#ffe699;
    border: 1px dotted #000;
}

aside ul li:hover a {
    color:#000;
    font-weight: 700;
}

aside ul li a {
    text-decoration: none;
    color:#1a001a;
}

main {
    /*width: 80%;*/
    height:400px;
    padding:0px 15px;
    text-align: center;
}

/*FOOTER SECTION */

footer 
{
    height:120px;
    background-color: #df99ff;
    clear: both; border: 5px solid #df99ff;
    border-radius: 5px 5px 0px 0px;
}

.social-media {
    padding-top:35px;
    text-align: center;
}

.social-media a {
    color:#34004d;
    font-size:75px;
}